## 习题 3.4

In [1]:
raw_data <- read.csv("./ex_3_4.csv")
raw_data

  \u50ac\u5316\u5242 X.\u4ea7\u54c1\u5f97\u73871 X.\u4ea7\u54c1\u5f97\u73872
1 A1                 0.88                        0.85
2 A2                 0.87                        0.92
3 A3                 0.84                        0.78
4 A4                 0.81                        0.86
  X.\u4ea7\u54c1\u5f97\u73873 X.\u4ea7\u54c1\u5f97\u73874
1 0.79                        0.86
2 0.85                        0.83
3 0.81                        0.80
4 0.90                        0.87
  X.\u4ea7\u54c1\u5f97\u73875 X.\u4ea7\u54c1\u5f97\u73876
1 0.85                        0.83
2 0.90                        0.80
3 0.85                        0.83
4 0.78                        0.79

In [2]:
A = c()
x = c()
for (row in 1:nrow(raw_data)) {
    for (col in 2:ncol(raw_data)) {
        A = c(A, raw_data[row, 1])
        x = c(x, raw_data[row, col])
    }
}
data = data.frame(A, x)
data

   A  x
1  A1 0.88
2  A1 0.85
3  A1 0.79
4  A1 0.86
5  A1 0.85
6  A1 0.83
7  A2 0.87
8  A2 0.92
9  A2 0.85
10 A2 0.83
11 A2 0.90
12 A2 0.80
13 A3 0.84
14 A3 0.78
15 A3 0.81
16 A3 0.80
17 A3 0.85
18 A3 0.83
19 A4 0.81
20 A4 0.86
21 A4 0.90
22 A4 0.87
23 A4 0.78
24 A4 0.79